data/ filter=lfs diff=lfs merge=lfs -text
data/tr/bilkent-turkish-writings/btwd_prep.json filter=lfs diff=lfs merge=lfs -text
data/tr/gts.json filter=lfs diff=lfs merge=lfs -text
data/tr/tdk/gts.json filter=lfs diff=lfs merge=lfs -text
data/tr/bilkent-turkish-writings/btwd_prep_post_raw.json filter=lfs diff=lfs merge=lfs -text
